ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
   flex-wrap:wrap ;
   padding: 0; 
}
ul li a{
    height: 250px;
    width: 250px;
    border: 1px solid rgb(75, 72, 72);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    cursor: pointer;
    opacity: 0.9;

}